.container {
	padding: 1em;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;

	@include respond(tablet) {
		padding: 1em 2em;
	}
}

.section-title {
	text-transform: uppercase;
	text-align: center;
	color: $black;
	margin: 0 auto;
	margin-bottom: 2em;
	width: fit-content;
	border-bottom: 2px solid $red;
}
