.footer {
	@include section-padding;
	padding-bottom: 0;
	background-color: $red;

	.container {
		padding-bottom: 2em;
	}

	&__boxes {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2em;

		@include respond(tablet) {
			display: grid;
			grid-template-columns: repeat(3, 1.5fr);
			grid-template-rows: 1fr;
			align-items: normal;
		}
	}

	&__box {
		display: flex;
		gap: 1em;
		align-items: flex-start;
		text-align: left;
		width: 100%;
		flex-direction: column;
		padding: 1em;
		background-color: rgba($color: $pure-black, $alpha: 0.1);

		&-title {
			text-transform: uppercase;
			letter-spacing: 1px;
			color: $white;
			font-weight: 700;
			border-bottom: 2px solid $light-gray;
		}

		&-text {
			color: $white;
		}

		&-link {
			a {
				color: $white;
				transition: color 0.3s;

				&:hover {
					text-decoration: underline;
					color: $light-gray;
				}
			}
		}

		a.footer__box-link {
			transition: color 0.3s;

			&:hover {
				text-decoration: underline;
				color: $light-gray;
			}
		}

		&-bottom,
		ul {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
		}
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		background-color: $white;
		padding: 0.8em;
		text-align: center;
		font-size: 1.2rem;
		font-weight: 700;

		@include respond(tablet) {
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}

		&-text {
			color: $black;
			@include respond(tablet) {
				display: flex;
				gap: 0.3em;
			}
		}

		&-link {
			position: relative;
			color: $red;
			z-index: 5;
			padding-inline: 0.3em;
			transition: color 0.3s;

			&:hover {
				color: $white;

				&::after {
					height: 100%;
				}
			}

			&::after {
				position: absolute;
				content: '';
				left: 0;
				bottom: 0;
				width: 100%;
				height: 1px;
				background-color: $red;
				z-index: -5;
				transition: height 0.3s;
			}
		}

		&-span {
			display: none;
			color: $red;

			@include respond(tablet) {
				display: block;
				margin-left: 0.3em;
			}
		}
	}
}
