.woocommerce-form-row.woocommerce-form-row--first.form-row.form-row-first {
	input {
		border: none;
		background: none;
		background-color: $light-gray;
		padding: 1em;
	}
}

.woocommerce-ResetPassword.lost_reset_password {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
