.nav {
	display: flex;
	position: fixed;
	top: 42px;
	left: 0;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	background-color: $white;
	padding: 1em;
	width: 100%;
	// max-width: 1800px;
	// right: 0;
	// margin: 0 auto;
	// border-bottom: 2px solid $red;

	@include respond(tablet) {
		// top: 59px;
		padding: 1em 2em;
	}

	&__logo {
		z-index: 20;

		&-img {
			width: 100px;

			@include respond(tablet) {
				width: 150px;
			}
		}
	}

	.dgwt-wcas-search-wrapp {
		max-width: 100%;
	}

	&__top {
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		align-items: center;
		z-index: 99999;
		background-color: $pure-black;
		padding: 0.5em 1em;
		width: 100%;

		@include respond(tablet) {
			padding: 0.5em 2em;
		}

		&-links {
			display: flex;
			align-items: center;
			gap: 0.5em;
			width: 100%;
		}

		&-link {
			display: flex;
			align-items: center;
			gap: 0.3em;
			padding: 0.4em 0.8em;
			color: $white;
			font-size: 1rem;

			&:nth-child(1),
			&:nth-child(2) {
				display: none;

				@include respond(mobile-max) {
					display: flex;
				}
			}

			&:nth-child(3) {
				margin-right: auto;

				@include respond(mobile-max) {
					margin-right: 0;
					margin-left: auto;
				}
			}

			@include respond(mobile) {
				font-size: 1.3rem;
			}
		}
	}

	div.menu-main-menu-container {
		position: relative;
	}

	ul.menu {
		display: flex;
		position: fixed;
		top: 113px;
		right: 0;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 0.5em;
		transform: translateX(-100%);
		transition: transform 0.3s ease-in-out;
		background-color: $white;
		width: 100vw;
		height: 100vh;

		@include respond(desktop-small) {
			position: initial;
			top: 0;
			flex-direction: row;
			transform: translateX(0);
			width: initial;
			height: initial;
		}

		ul.sub-menu {
		}
	}

	ul.menu.active {
		transform: translateX(0);
	}

	&__item {
		display: block;
		width: 90%;
		text-align: left;

		@include respond(desktop-small) {
			width: initial;
		}

		&:first-child {
			margin-top: 2em;

			@include respond(desktop-small) {
				margin: 0 auto;
			}
		}

		a {
			display: block;
			position: relative;
			transition: color 0.3s;
			padding: 0.8em 1.6em;
			width: 100%;
			color: $black;
			font-weight: 700;
			font-size: 1.2rem;
			letter-spacing: 1px;
			text-transform: uppercase;

			&::first-letter {
				font-size: 2rem;

				@include respond(desktop-small) {
					font-size: 1.8rem;
				}
			}

			&:hover {
				color: $red;

				&::after {
					width: 100%;
				}
			}

			@include respond(desktop-small) {
				padding: 0.8em;
				font-size: 1.3rem;

				&::after {
					position: absolute;
					bottom: 1px;
					left: 0;
					transition: width 0.4s ease-in-out;
					background-color: $red;
					width: 0;
					height: 2px;
					content: '';

					@include respond(desktop-small) {
						transition: width 0.3s ease-in-out;
					}
				}
			}
		}
	}

	li.menu-item-4392 {
		a {
			color: $red;
		}
	}

	li.menu-item-4355 {
		position: relative;

		.nav__dropdown {
			position: absolute;
			top: 0;
			right: 0;
			border: none;
			border: 2px solid $red;
			background: none;
			padding: 0.7em;
			font-weight: 700;
			font-size: 1.5rem;

			&:hover {
				color: $red;
			}

			@include respond(desktop-small) {
				display: none;
			}
		}

		ul.sub-menu {
			display: none;
			margin-left: 1em;

			.nav__item {
				&:first-child {
					margin: 0;

					@include respond(desktop-small) {
						width: 100%;
					}
				}

				a {
					@include respond(desktop-small) {
						transition: padding-left 0.2s, background-color 0.2s;
						color: $white;

						&:hover {
							background-color: rgba($color: $black, $alpha: 0.1);
							padding-left: 1.3em;
						}
					}

					&::after {
						@include respond(desktop-small) {
							display: none;
						}
					}
				}
			}

			@include respond(desktop-small) {
				position: absolute;
				top: 40px;
				margin-left: 0;
				box-shadow: 0px 8px 21px -13px rgba($color: $pure-black, $alpha: 1);
				background-color: $red;
				width: 180px;
			}
		}

		ul.sub-menu.active {
			display: block;
		}

		@include respond(desktop-small) {
			&:hover {
				ul.sub-menu {
					display: block;
				}
			}
		}
	}

	&__btn {
		z-index: 999;
		outline: none;
		border: none;
		background: none;
		background-color: $black;
		padding: 0.8em;

		@include respond(desktop-small) {
			display: none;
		}

		&-box {
			position: relative;
			width: 30px;
			height: 14px;
		}

		&-text {
			vertical-align: middle;
			font-weight: 700;
			text-transform: uppercase;
		}

		&-span {
			display: block;
			background-color: $light-gray;
		}

		&-span,
		&-span::after,
		&-span::before {
			display: block;
			position: absolute;
			right: 0;
			transition: width 0.3s ease-in-out;
			border-radius: 4px;
			background-color: $light-gray;
			width: 30px;
			height: 2px;
			content: '';
		}

		&-span {
			top: 0;
			width: 100%;
		}

		&-span::after {
			top: 12px;
			width: 45%;
		}

		&-span::before {
			top: 6px;
			width: 70%;
		}
	}

	&__btn.active {
		background-color: $light-gray;
		.nav__btn-span,
		.nav__btn-span::before,
		.nav__btn-span::after {
			background-color: #000;
			width: 100%;
		}
	}
}
