.woocommerce span.onsale {
	background-color: $red !important;
	color: $white !important;
	border-radius: 0 !important;
	font-size: 1.3rem !important;
	padding: 1em 2em !important;
	display: block !important;
	line-height: 0 !important;
	min-height: initial !important;
}
