#primary {
	margin: 0 auto;
	padding-inline: 1em;
	padding-block: 9em;
	width: 100%;
	max-width: 1600px;
}

.main {
	.woocommerce {
		margin: 0 auto;
		padding: 10em 1em;
		width: 100%;
		max-width: 1600px;
	}
}

.button {
	// align-self: center;
	transition: border 0.2s, background-color 0.2s, color 0.2s;
	border: none;
	border: 2px solid transparent !important;
	border-radius: 0 !important;
	background: none;
	background-color: $red !important;
	padding: 0.5em !important;
	// width: 100%;
	color: $white !important;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;

	&:hover {
		border: 2px solid $red !important;
		background-color: $white !important;
		color: $red !important;
	}
}

.woocommerce-message,
.woocommerce-info {
	border-top: 3px solid $red !important;
	background-color: $light-gray !important;
	color: $black !important;

	a {
		border-bottom: 1px solid $red;
		color: $black;
	}

	&::before {
		color: $red;
	}
}


