*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* a {
  text-decoration: none;
}

* button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

* ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.container {
  padding: 1em;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 1em 2em;
  }
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  color: #2c2c2c;
  margin: 0 auto;
  margin-bottom: 2em;
  width: fit-content;
  border-bottom: 2px solid #dc143c;
}

.nav {
  position: fixed;
  top: 42px;
  left: 0;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .nav {
    padding: 1em 2em;
  }
}
.nav__logo {
  z-index: 20;
}
.nav__logo-img {
  width: 100px;
}
@media only screen and (min-width: 768px) {
  .nav__logo-img {
    width: 150px;
  }
}
.nav .dgwt-wcas-search-wrapp {
  max-width: 100%;
}
.nav__top {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  background-color: #000;
  width: 100%;
  z-index: 99999;
}
@media only screen and (min-width: 768px) {
  .nav__top {
    padding: 0.5em 2em;
  }
}
.nav__top-links {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}
.nav__top-link {
  padding: 0.4em 0.8em;
  display: flex;
  align-items: center;
  gap: 0.3em;
  font-size: 1rem;
  color: #fff;
}
.nav__top-link:nth-child(1), .nav__top-link:nth-child(2) {
  display: none;
}
@media only screen and (min-width: 568px) {
  .nav__top-link:nth-child(1), .nav__top-link:nth-child(2) {
    display: flex;
  }
}
.nav__top-link:nth-child(3) {
  margin-right: auto;
}
@media only screen and (min-width: 568px) {
  .nav__top-link:nth-child(3) {
    margin-left: auto;
    margin-right: 0;
  }
}
@media only screen and (min-width: 360px) {
  .nav__top-link {
    font-size: 1.3rem;
  }
}
.nav div.menu-main-menu-container {
  position: relative;
}
.nav ul.menu {
  position: fixed;
  top: 113px;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  gap: 0.5em;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
@media only screen and (min-width: 1024px) {
  .nav ul.menu {
    top: 0;
    width: initial;
    height: initial;
    position: initial;
    flex-direction: row;
    transform: translateX(0);
  }
}
.nav ul.menu.active {
  transform: translateX(0);
}
.nav__item {
  display: block;
  width: 90%;
  text-align: left;
}
@media only screen and (min-width: 1024px) {
  .nav__item {
    width: initial;
  }
}
.nav__item:first-child {
  margin-top: 2em;
}
@media only screen and (min-width: 1024px) {
  .nav__item:first-child {
    margin: 0 auto;
  }
}
.nav__item a {
  position: relative;
  display: block;
  padding: 0.8em 1.6em;
  width: 100%;
  text-transform: uppercase;
  color: #2c2c2c;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.2rem;
  transition: color 0.3s;
}
.nav__item a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 1px;
  background-color: #dc143c;
  width: 0;
  height: 2px;
  transition: width 0.4s ease-in-out;
}
@media only screen and (min-width: 1024px) {
  .nav__item a::after {
    transition: width 0.3s ease-in-out;
  }
}
.nav__item a::first-letter {
  font-size: 2rem;
}
@media only screen and (min-width: 1024px) {
  .nav__item a::first-letter {
    font-size: 1.8rem;
  }
}
.nav__item a:hover {
  color: #dc143c;
}
.nav__item a:hover::after {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .nav__item a {
    font-size: 1.3rem;
    padding: 0.8em;
  }
}
.nav li.menu-item-4392 a {
  color: #dc143c;
}
.nav li.menu-item-4355 {
  position: relative;
}
.nav li.menu-item-4355 .nav__dropdown {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.7em;
  border: 2px solid #dc143c;
}
.nav li.menu-item-4355 .nav__dropdown:hover {
  color: #dc143c;
}
@media only screen and (min-width: 1024px) {
  .nav li.menu-item-4355 .nav__dropdown {
    display: none;
  }
}
.nav li.menu-item-4355 ul.sub-menu {
  display: none;
  margin-left: 1em;
}
.nav li.menu-item-4355 ul.sub-menu .nav__item:first-child {
  margin: 0;
}
@media only screen and (min-width: 1024px) {
  .nav li.menu-item-4355 ul.sub-menu .nav__item:first-child {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .nav li.menu-item-4355 ul.sub-menu .nav__item a {
    transition: padding-left 0.2s, background-color 0.2s;
    color: #fff;
  }
  .nav li.menu-item-4355 ul.sub-menu .nav__item a:hover {
    padding-left: 1.3em;
    background-color: rgba(44, 44, 44, 0.1);
  }
}
@media only screen and (min-width: 1024px) {
  .nav li.menu-item-4355 ul.sub-menu .nav__item a::after {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .nav li.menu-item-4355 ul.sub-menu {
    width: 180px;
    position: absolute;
    top: 40px;
    margin-left: 0;
    background-color: #dc143c;
    box-shadow: 0px 8px 21px -13px black;
  }
}
.nav li.menu-item-4355 ul.sub-menu.active {
  display: block;
}
@media only screen and (min-width: 1024px) {
  .nav li.menu-item-4355:hover ul.sub-menu {
    display: block;
  }
}
.nav__btn {
  padding: 0.8em;
  background: none;
  border: none;
  background-color: #2c2c2c;
  z-index: 999;
  outline: none;
}
@media only screen and (min-width: 1024px) {
  .nav__btn {
    display: none;
  }
}
.nav__btn-box {
  width: 30px;
  height: 14px;
  position: relative;
}
.nav__btn-text {
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 700;
}
.nav__btn-span {
  display: block;
  background-color: #ececec;
}
.nav__btn-span, .nav__btn-span::after, .nav__btn-span::before {
  position: absolute;
  display: block;
  content: "";
  width: 30px;
  height: 2px;
  right: 0;
  background-color: #ececec;
  border-radius: 4px;
  transition: width 0.3s ease-in-out;
}
.nav__btn-span {
  top: 0;
  width: 100%;
}
.nav__btn-span::after {
  top: 12px;
  width: 45%;
}
.nav__btn-span::before {
  top: 6px;
  width: 70%;
}
.nav__btn.active {
  background-color: #ececec;
}
.nav__btn.active .nav__btn-span,
.nav__btn.active .nav__btn-span::before,
.nav__btn.active .nav__btn-span::after {
  background-color: #000;
  width: 100%;
}

.header {
  height: 60vh;
  margin-top: 113px;
}
@media only screen and (min-width: 1024px) {
  .header {
    margin-top: 149px;
  }
}
.header .swiffy-slider {
  height: 100%;
}
.header .swiffy-slider .slider-container {
  height: 100%;
}
.header .swiffy-slider .slider-nav {
  display: none !important;
}
.header__slide {
  position: relative;
}
.header__slide-box {
  width: 100%;
}
.header__slide-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__slide-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.header__slide-title {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 0px 8px 21px black;
}
.header__slide-link {
  padding: 0.5em 2em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #dc143c;
  font-weight: 700;
  letter-spacing: 1px;
  border: 2px solid transparent;
  transition: background-color 0.2s, color 0.2s;
}
.header__slide-link:hover {
  background-color: #fff;
  color: #dc143c;
}

.categories {
  padding-block: 2em;
}
.categories__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .categories__boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.categories__box {
  position: relative;
  height: 380px;
  width: 100%;
  overflow: hidden;
}
.categories__box::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  transition: background-color 0.2s ease-in-out;
  z-index: 5;
}
.categories__box:hover .categories__img {
  transform: scale(1.05);
}
.categories__box:hover .categories__bottom {
  transform: translate(-50%, 0);
}
.categories__box:hover::after {
  background-color: rgba(0, 0, 0, 0.15);
}
.categories__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
  display: block;
}
.categories__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  background-color: rgba(220, 20, 60, 0.55);
  text-align: center;
  gap: 0.3em;
  padding: 2em 2em;
  width: 100%;
  height: 100%;
  z-index: 20;
  transition: transform 0.3s ease-in-out;
}
.categories__title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  z-index: 50;
  text-shadow: 0px 8px 21px black;
}
.categories__list {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
@media only screen and (min-width: 768px) {
  .categories__list {
    flex-direction: row;
  }
}
.categories__list-item {
  background-color: #fff;
  padding: 0.5em;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #dc143c;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 0px 8px 21px black;
}

.beds {
  padding-block: 2em;
}
.beds__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
@media only screen and (min-width: 768px) {
  .beds__boxes {
    flex-direction: row;
  }
}
.beds__box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 480px;
  border: 2px solid #ececec;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s, transform 0.3s;
}
.beds__box:hover {
  box-shadow: -1px 25px 28px -19px rgba(44, 44, 44, 0.6);
  transform: scale(1.05);
}
.beds__img {
  position: absolute;
  width: 100%;
  height: 65%;
  object-fit: cover;
  left: 0;
  top: 0;
  overflow: hidden;
}
.beds__texts {
  position: absolute;
  left: 0;
  bottom: 5px;
  z-index: 20;
  width: 100%;
  padding: 1em;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.beds__title {
  font-size: 1.7rem;
  color: #2c2c2c;
}
.beds__price {
  color: #dc143c;
  font-weight: 700;
  font-size: 2rem;
}
.beds__link {
  text-transform: uppercase;
  align-self: center;
  padding: 0.5em;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  background: none;
  border: none;
  background-color: #dc143c;
  border: 2px solid transparent;
  transition: border 0.2s, background-color 0.2s, color 0.2s;
}
.beds__link:hover {
  background-color: #fff;
  border: 2px solid #dc143c;
  color: #dc143c;
}

.mattresses {
  padding-block: 2em;
}
.mattresses__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
@media only screen and (min-width: 768px) {
  .mattresses__boxes {
    flex-direction: row;
  }
}
.mattresses__box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 480px;
  border: 2px solid #ececec;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s, transform 0.3s;
}
.mattresses__box:hover {
  box-shadow: -1px 25px 28px -19px rgba(44, 44, 44, 0.6);
  transform: scale(1.05);
}
.mattresses__img {
  position: absolute;
  width: 100%;
  height: 65%;
  object-fit: cover;
  left: 0;
  top: 0;
  overflow: hidden;
}
.mattresses__texts {
  position: absolute;
  left: 0;
  bottom: 5px;
  z-index: 20;
  width: 100%;
  padding: 1em;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.mattresses__title {
  font-size: 1.7rem;
  color: #2c2c2c;
}
.mattresses__price {
  color: #dc143c;
  font-weight: 700;
  font-size: 2rem;
}
.mattresses__link {
  text-transform: uppercase;
  align-self: center;
  padding: 0.5em;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  background: none;
  border: none;
  background-color: #dc143c;
  border: 2px solid transparent;
  transition: border 0.2s, background-color 0.2s, color 0.2s;
}
.mattresses__link:hover {
  background-color: #fff;
  border: 2px solid #dc143c;
  color: #dc143c;
}

.features {
  padding-block: 2em;
}
.features__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
@media only screen and (min-width: 768px) {
  .features__boxes {
    flex-direction: row;
    gap: 2em;
  }
}
.features__box {
  position: relative;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  max-width: 290px;
  border: 2px solid #ececec;
  border-radius: 10px;
  text-align: center;
  transition: box-shadow 0.3s, transform 0.3s;
}
.features__box:hover {
  box-shadow: -1px 25px 28px -19px rgba(44, 44, 44, 0.6);
  transform: scale(1.05);
}
.features__top {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em;
  text-align: center;
  background-color: #dc143c;
}
.features__top i {
  font-size: 3rem;
  color: #fff;
}
.features__texts {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.features__texts-title {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #2c2c2c;
  letter-spacing: 1px;
}
.features__texts-description {
  color: #2c2c2c;
}

.partners {
  padding-block: 2em;
}
.partners__slider {
  border-block: 1px solid #dc143c;
}

.slider-item-show2-sm {
  --swiffy-slider-item-count: 1;
}
@media only screen and (min-width: 360px) {
  .slider-item-show2-sm {
    --swiffy-slider-item-count: 2;
  }
}
@media only screen and (min-width: 768px) {
  .slider-item-show2-sm {
    --swiffy-slider-item-count: 3;
  }
}
@media only screen and (min-width: 1024px) {
  .slider-item-show2-sm {
    --swiffy-slider-item-count: 4;
  }
}

.slider-nav-dark .slider-nav::after {
  background-color: #dc143c;
}

.footer {
  padding-block: 2em;
  padding-bottom: 0;
  background-color: #dc143c;
}
.footer .container {
  padding-bottom: 2em;
}
.footer__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
@media only screen and (min-width: 768px) {
  .footer__boxes {
    display: grid;
    grid-template-columns: repeat(3, 1.5fr);
    grid-template-rows: 1fr;
    align-items: normal;
  }
}
.footer__box {
  display: flex;
  gap: 1em;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  flex-direction: column;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.1);
}
.footer__box-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 700;
  border-bottom: 2px solid #ececec;
}
.footer__box-text {
  color: #fff;
}
.footer__box-link a {
  color: #fff;
  transition: color 0.3s;
}
.footer__box-link a:hover {
  text-decoration: underline;
  color: #ececec;
}
.footer__box a.footer__box-link {
  transition: color 0.3s;
}
.footer__box a.footer__box-link:hover {
  text-decoration: underline;
  color: #ececec;
}
.footer__box-bottom,
.footer__box ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0.8em;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .footer__bottom {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.footer__bottom-text {
  color: #2c2c2c;
}
@media only screen and (min-width: 768px) {
  .footer__bottom-text {
    display: flex;
    gap: 0.3em;
  }
}
.footer__bottom-link {
  position: relative;
  color: #dc143c;
  z-index: 5;
  padding-inline: 0.3em;
  transition: color 0.3s;
}
.footer__bottom-link:hover {
  color: #fff;
}
.footer__bottom-link:hover::after {
  height: 100%;
}
.footer__bottom-link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #dc143c;
  z-index: -5;
  transition: height 0.3s;
}
.footer__bottom-span {
  display: none;
  color: #dc143c;
}
@media only screen and (min-width: 768px) {
  .footer__bottom-span {
    display: block;
    margin-left: 0.3em;
  }
}

.products .woocommerce.columns-4 {
  padding-block: 1em;
}
.products__boxes {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-block: 2em;
}
@media only screen and (min-width: 768px) {
  .products__boxes {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2em;
  }
}
.products__boxes-mattress {
  grid-template-columns: repeat(1, 4fr);
}
.products .wpfButton {
  width: 100% !important;
}
.products__products .products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-top: 1em !important;
}
.products__products .products::before {
  display: none !important;
}
@media only screen and (min-width: 768px) {
  .products__products .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  .products__products .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1230px) {
  .products__products .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.products__products .products li.product {
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s, transform 0.3s;
  margin: 0 !important;
  border: 2px solid #ececec;
  border-radius: 10px;
  width: 100% !important;
  height: 480px;
  overflow: hidden;
}
.products__products .products li.product:hover {
  transform: scale(1.05);
  box-shadow: -1px 25px 28px -19px rgba(44, 44, 44, 0.6);
}
.products__products .products li.product .woocommerce-LoopProduct-link {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1em;
  height: 100%;
  text-align: center;
}
.products__products .products li.product .woocommerce-LoopProduct-link img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
  width: 100%;
  height: 65%;
  object-fit: cover;
}
.products__products .products li.product .woocommerce-LoopProduct-link h2 {
  margin-bottom: 1em !important;
  padding: 0 !important;
  color: #2c2c2c;
  font-size: 1.7rem !important;
}
.products__products .products li.product .woocommerce-LoopProduct-link span {
  margin: 0 !important;
  color: #dc143c;
  font-weight: 700;
  font-size: 2rem;
}
.products__products .products li.product .add_to_cart_button,
.products__products .products li.product .product_type_simple,
.products__products .products li.product .product_type_variable {
  align-self: center;
  transition: border 0.2s, background-color 0.2s, color 0.2s;
  margin: 0 !important;
  margin-bottom: 2em !important;
  border: none;
  border: 2px solid transparent;
  border-radius: 0 !important;
  background: none;
  background-color: #dc143c;
  padding: 0.5em !important;
  color: #fff;
  font-weight: 700;
  font-size: 1.33rem !important;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
.products__products .products li.product .add_to_cart_button:hover,
.products__products .products li.product .product_type_simple:hover,
.products__products .products li.product .product_type_variable:hover {
  border: 2px solid #dc143c;
  background-color: #fff;
  color: #dc143c;
}

.product .woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images {
  width: 100% !important;
}
@media only screen and (min-width: 768px) {
  .product .woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images {
    width: 65% !important;
  }
}
.product .summary.entry-summary {
  display: flex;
  flex-direction: column;
  gap: 1em;
  box-shadow: -1px 25px 28px -19px rgba(44, 44, 44, 0.6);
  border: 2px solid #dc143c;
  padding: 1em;
  width: 100% !important;
  text-align: right;
}
@media only screen and (min-width: 768px) {
  .product .summary.entry-summary {
    width: 30% !important;
  }
}
.product .summary.entry-summary h1.product_title.entry-title {
  color: #2c2c2c;
  font-size: 2rem;
}
.product .summary.entry-summary p.price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  color: #dc143c;
  font-size: 1.7rem;
}
.product .summary.entry-summary form.variations_form.cart.wvs-loaded div[data-product_id] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}
.product .summary.entry-summary form.variations_form.cart.wvs-loaded table.variations {
  display: flex;
  justify-content: flex-end;
}
.product .summary.entry-summary form.variations_form.cart.wvs-loaded table.variations tbody > tr {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.product .summary.entry-summary form.variations_form.cart.wvs-loaded table.variations th.label {
  display: flex;
  color: #2c2c2c;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.product .summary.entry-summary form.variations_form.cart.wvs-loaded table.variations td.value.woo-variation-items-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product .summary.entry-summary form.variations_form.cart.wvs-loaded table.variations ul[data-attribute_name=attribute_pa_rozmiar] li {
  border-radius: 0 !important;
  width: 100%;
}
.product .summary.entry-summary form.variations_form.cart.wvs-loaded table.variations ul[data-attribute_name=attribute_pa_rozmiar] li span {
  padding: 0 1em;
}
.product .summary.entry-summary form.variations_form.cart.wvs-loaded a.reset_variations {
  color: #dc143c;
  font-weight: 700;
}
.product .summary.entry-summary .variable-item.button-variable-item.selected,
.product .summary.entry-summary .variable-item.color-variable-item.selected {
  box-shadow: var(--wvs-selected-item-box-shadow, 0 0 0 2px #dc143c);
}
.product .single_variation_wrap {
  width: 100%;
}
.product .single_variation_wrap .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled,
.product .single_variation_wrap .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.product .single_variation_wrap .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled input.input-text.qty.text,
.product .single_variation_wrap .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled input.input-text.qty.text {
  padding: 0.5em;
  width: 100%;
  height: 100%;
}
.product .cart {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.product .cart input.input-text.qty.text {
  padding: 0.5em;
  width: 100%;
  height: 100%;
}
.product .single_add_to_cart_button.button.alt {
  align-self: center;
  transition: border 0.2s, background-color 0.2s, color 0.2s;
  border: none;
  border: 2px solid transparent;
  border-radius: 0 !important;
  background: none;
  background-color: #dc143c;
  padding: 0.5em;
  width: 100%;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.product .single_add_to_cart_button.button.alt:hover {
  border: 2px solid #dc143c;
  background-color: #fff;
  color: #dc143c;
}
.product .single_add_to_cart_button.button.alt.disabled.wc-variation-selection-needed {
  background-color: #dc143c;
}
.product .product_meta span.posted_in a {
  border-bottom: 1px solid #dc143c;
  color: #2c2c2c;
}

@media only screen and (min-width: 1230px) {
  .woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images {
    width: 65% !important;
  }
}
.woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images .wpgs-nav.slick-initialized.slick-slider i.thumb {
  display: none !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  transition: background-color 0.3s;
  cursor: pointer;
  background-color: rgba(44, 44, 44, 0.7);
  padding: 0.1em;
  color: #dc143c;
  font-size: 3rem;
}
@media only screen and (min-width: 768px) {
  .woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images .wpgs-nav.slick-initialized.slick-slider i.thumb {
    display: block !important;
  }
}
.woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images .wpgs-nav.slick-initialized.slick-slider i.thumb-left {
  left: 5px;
}
.woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images .wpgs-nav.slick-initialized.slick-slider i.thumb-right {
  right: 5px;
}
.woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images .wpgs-nav.slick-initialized.slick-slider i.thumb:hover {
  background-color: rgba(220, 20, 60, 0.9);
}
.woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images i.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: background-color 0.3s;
  cursor: pointer;
  background-color: rgba(44, 44, 44, 0.7);
  padding: 0.1em;
  font-size: 3rem;
}
.woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images i.slick-arrow:before {
  transition: color 0.3s;
  color: #dc143c;
}
.woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images i.slick-arrow-previous {
  left: 0;
}
.woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images i.slick-arrow-next {
  right: 0;
}
.woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images i.slick-arrow:hover {
  background-color: rgba(220, 20, 60, 0.9);
}
.woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images i.slick-arrow:hover:before {
  color: #fff;
}
.woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images .slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-block: 0.5em;
}
.woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images .slick-dots li {
  width: 10px;
  height: 10px;
}
.woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images .slick-dots li button {
  width: 10px;
  height: 10px;
}
.woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images .slick-dots li button::before {
  background-color: #dc143c;
  width: 8px;
  height: 8px;
}
@media only screen and (min-width: 768px) {
  .woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images .slick-dots {
    display: none !important;
  }
}
.woo-product-gallery-slider.woocommerce-product-gallery.wpgs--with-images.images .wpgs-nav .slick-current {
  border: 1px solid #d1d1d1 !important;
}

.attachment-full,
.wpgs-thumb-main-image {
  width: 100% !important;
  height: 100px !important;
  object-fit: cover;
}
@media only screen and (min-width: 1230px) {
  .attachment-full,
  .wpgs-thumb-main-image {
    height: 150px !important;
  }
}

.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs::before {
  border-bottom: 2px solid #dc143c !important;
}
.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li.active {
  background-color: #fff !important;
}
.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li.active a {
  color: #2c2c2c !important;
}
.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li {
  border-radius: 0 !important;
  background-color: #dc143c !important;
  font-size: 1.5rem !important;
  text-transform: uppercase !important;
}
.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li a {
  color: #fff !important;
}

section.related.products {
  display: flex !important;
  flex-direction: column !important;
}
section.related.products h2 {
  margin: 0 auto;
  margin-bottom: 2em;
  border-bottom: 2px solid #dc143c;
  width: fit-content;
  color: #2c2c2c;
  text-align: center;
  text-transform: uppercase;
}
section.related.products li.product h2 {
  border-bottom: 0;
}

main#main .products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-top: 1em !important;
}
main#main .products::before {
  display: none !important;
}
@media only screen and (min-width: 768px) {
  main#main .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  main#main .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1230px) {
  main#main .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
main#main .products li.product {
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s, transform 0.3s;
  margin: 0 !important;
  border: 2px solid #ececec;
  border-radius: 10px;
  width: 100% !important;
  height: 480px;
  overflow: hidden;
}
main#main .products li.product:hover {
  transform: scale(1.05);
  box-shadow: -1px 25px 28px -19px rgba(44, 44, 44, 0.6);
}
main#main .products li.product .woocommerce-LoopProduct-link {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1em;
  height: 100%;
  text-align: center;
}
main#main .products li.product .woocommerce-LoopProduct-link img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
  width: 100%;
  height: 65%;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  main#main .products li.product .woocommerce-LoopProduct-link img {
    object-fit: contain;
  }
}
main#main .products li.product .woocommerce-LoopProduct-link h2 {
  margin-bottom: 1em !important;
  padding: 0 !important;
  color: #2c2c2c;
  font-size: 1.7rem !important;
}
main#main .products li.product .woocommerce-LoopProduct-link span {
  margin: 0 !important;
  color: #dc143c;
  font-weight: 700;
  font-size: 2rem;
}
main#main .products li.product .add_to_cart_button,
main#main .products li.product .product_type_simple,
main#main .products li.product .product_type_variable {
  align-self: center;
  transition: border 0.2s, background-color 0.2s, color 0.2s;
  margin: 0 !important;
  margin-bottom: 2em !important;
  border: none;
  border: 2px solid transparent;
  border-radius: 0 !important;
  background: none;
  background-color: #dc143c;
  padding: 0.5em !important;
  color: #fff;
  font-weight: 700;
  font-size: 1.33rem !important;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
main#main .products li.product .add_to_cart_button:hover,
main#main .products li.product .product_type_simple:hover,
main#main .products li.product .product_type_variable:hover {
  border: 2px solid #dc143c;
  background-color: #fff;
  color: #dc143c;
}

.woocommerce-pagination ul.page-numbers li span.current {
  background-color: #dc143c !important;
  color: #fff !important;
}
.woocommerce-pagination ul.page-numbers li a.page-numbers {
  background-color: #fff !important;
  color: #2c2c2c !important;
}

.wpfMainWrapper {
  padding: 1em;
  border: 2px solid #dc143c;
}
.wpfMainWrapper .wpfFilterTitle {
  color: #2c2c2c !important;
}
.wpfMainWrapper .wpfFilterTaxNameWrapper {
  color: #2c2c2c !important;
}
.wpfMainWrapper .wpfFilterWrapper[data-radio="1"] .wpfCheckbox label:before {
  border-radius: 0 !important;
}
.wpfMainWrapper .wpfFilterContent .ui-slider.ui-widget-content:not(.iris-slider-offset) {
  border: 1px solid #ececec !important;
  background-color: #dc143c !important;
}
.wpfMainWrapper .wpfFilterContent .ui-slider.ui-widget-content .ui-slider-handle {
  border: 1px solid #dc143c !important;
  background-color: #dc143c !important;
}
.wpfMainWrapper .wpfFilterButton.wpfButton,
.wpfMainWrapper .wpfClearButton.wpfButton {
  margin: 0 !important;
  margin-bottom: 2em !important;
  text-align: center;
  text-transform: uppercase;
  align-self: center;
  padding: 0.5em !important;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem !important;
  letter-spacing: 1px;
  background: none;
  border: none;
  border-radius: 0 !important;
  background-color: #dc143c;
  border: 2px solid transparent;
  transition: border 0.2s, background-color 0.2s, color 0.2s;
}
.wpfMainWrapper .wpfFilterButton.wpfButton:hover,
.wpfMainWrapper .wpfClearButton.wpfButton:hover {
  background-color: #fff;
  border: 2px solid #dc143c;
  color: #dc143c;
}

select.orderby {
  padding: 0.5em;
  cursor: pointer;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}
select.orderby:hover, select.orderby:focus-visible {
  border-radius: 0;
  border-color: #dc143c;
}

.woocommerce span.onsale {
  background-color: #dc143c !important;
  color: #fff !important;
  border-radius: 0 !important;
  font-size: 1.3rem !important;
  padding: 1em 2em !important;
  display: block !important;
  line-height: 0 !important;
  min-height: initial !important;
}

.contact {
  padding-block: 2em;
}
.contact__boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
@media only screen and (min-width: 768px) {
  .contact__boxes {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: initial;
  }
}
.contact__box {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
.contact__box-map iframe {
  width: 100%;
}
.contact__box-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  box-shadow: -1px 25px 28px -19px rgba(44, 44, 44, 0.6);
  background-color: #dc143c;
  padding: 1.5em;
}
.contact__box-texts {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.contact__box-title {
  color: #2c2c2c;
  font-weight: 700;
  text-transform: uppercase;
}
.contact__box-text {
  color: #2c2c2c;
}
.contact__box-link {
  align-self: flex-start;
  border-bottom: 1px solid #ececec;
}
.contact__box-link:hover {
  border-bottom: 1px solid #dc143c;
}
.contact__input, .contact__textarea {
  outline: none;
  border: none;
  background: none;
  background-color: rgba(44, 44, 44, 0.3);
  padding: 0.8em 1em;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.contact__input::placeholder, .contact__textarea::placeholder {
  color: #fff;
}
.contact__btn {
  transition: border 0.2s, background-color 0.2s, color 0.2s;
  border: none;
  border: 2px solid transparent;
  background: none;
  background-color: #fff;
  padding: 0.8em;
  color: #dc143c;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.contact__btn:hover {
  border: 2px solid #fff;
  background-color: #dc143c;
  color: #fff;
}

.woocommerce table.shop_table {
  border: none;
  border-radius: 0;
  color: #2c2c2c;
}
.woocommerce table.shop_table th {
  border: 1px solid #ececec;
  border-top: 1px solid #ececec !important;
  color: #2c2c2c;
  text-transform: uppercase;
}
.woocommerce table.shop_table td {
  border: 1px solid #ececec;
  border-top: 1px solid #ececec !important;
}
.woocommerce table.shop_table td.product-remove {
  border-top: 1px solid #ececec !important;
}
@media only screen and (min-width: 768px) {
  .woocommerce table.shop_table td.product-remove {
    border-top: none;
  }
}
.woocommerce table.shop_table td.product-name {
  border: 1px solid #ececec;
}
.woocommerce table.shop_table td.product-name a {
  border-bottom: 1px solid #dc143c;
  color: #2c2c2c;
}
.woocommerce table.shop_table td.product-name a:hover {
  border-bottom: 1px solid #dc143c;
}
.woocommerce table.shop_table td.product-price,
.woocommerce table.shop_table td.product-subtotal,
.woocommerce table.shop_table .woocommerce-Price-amount.amount {
  font-weight: 700;
}
.woocommerce table.shop_table .coupon {
  display: flex;
  gap: 0.3em;
}
.woocommerce table.shop_table .coupon .input-text {
  padding: 0.5em !important;
}
.woocommerce table.shop_table .coupon .input-text:hover, .woocommerce table.shop_table .coupon .input-text:focus {
  border: 1px solid #ececec !important;
}
.woocommerce table.shop_table .coupon button {
  width: 100% !important;
}
.woocommerce table.shop_table .button {
  transition: border 0.2s, background-color 0.2s, color 0.2s;
  border: none;
  border: 2px solid transparent;
  border-radius: 0 !important;
  background: none;
  background-color: #dc143c;
  padding: 0.5em;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.woocommerce table.shop_table .button:hover {
  border: 2px solid #2c2c2c;
  background-color: #fff;
  color: #dc143c;
}
.woocommerce table.shop_table .button[disabled] {
  color: #fff;
}
.woocommerce table.shop_table .button[disabled]:hover {
  color: #dc143c;
}
.woocommerce table.shop_table .product-thumbnail a {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.woocommerce table.shop_table .product-thumbnail a img {
  width: 100px;
}
.woocommerce table.shop_table .shipping-calculator-button {
  border-bottom: 1px solid #ececec;
  color: #2c2c2c;
}
.woocommerce table.shop_table .shipping-calculator-button:hover {
  border-bottom: 1px solid #dc143c;
}

#order_review_heading {
  margin-block: 1em;
}

#customer_details {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
#customer_details h3 {
  color: #2c2c2c;
}
#customer_details::before {
  display: none;
}
@media only screen and (min-width: 768px) {
  #customer_details {
    flex-direction: row;
  }
}
#customer_details .woocommerce-billing-fields__field-wrapper,
#customer_details .woocommerce-shipping-fields__field-wrapper {
  display: flex;
  flex-direction: column;
  color: #2c2c2c;
}
#customer_details .woocommerce-billing-fields__field-wrapper p,
#customer_details .woocommerce-shipping-fields__field-wrapper p {
  width: 100%;
}
#customer_details .woocommerce-billing-fields__field-wrapper input,
#customer_details .woocommerce-shipping-fields__field-wrapper input {
  transition: all 0.2s;
  border: 1px solid #ececec;
  padding: 0.6em 1em;
}
#customer_details .woocommerce-billing-fields__field-wrapper input:hover, #customer_details .woocommerce-billing-fields__field-wrapper input:focus,
#customer_details .woocommerce-shipping-fields__field-wrapper input:hover,
#customer_details .woocommerce-shipping-fields__field-wrapper input:focus {
  border: 1px solid #2c2c2c;
}
#customer_details .woocommerce-billing-fields__field-wrapper .select2-container--default .select2-selection--single,
#customer_details .woocommerce-shipping-fields__field-wrapper .select2-container--default .select2-selection--single {
  border-radius: 0;
}

.woocommerce-additional-fields__field-wrapper textarea {
  transition: all 0.2s;
  border: 1px solid #ececec;
  padding: 0.6em 1em;
}
.woocommerce-additional-fields__field-wrapper textarea:hover, .woocommerce-additional-fields__field-wrapper textarea:focus {
  border: 1px solid #2c2c2c;
}

.form-row.place-order {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.form-row.place-order a {
  border-bottom: 1px solid #dc143c;
  color: #2c2c2c;
}

#payment {
  background-color: #fff !important;
}

.woocommerce h2 {
  color: #2c2c2c;
}

.woocommerce-form.woocommerce-form-login.login {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-inline: auto;
  border: 2px solid #ececec;
  border-radius: 0;
  max-width: 1200px;
}
.woocommerce-form.woocommerce-form-login.login p {
  display: flex;
  flex-direction: column;
}
.woocommerce-form.woocommerce-form-login.login p label {
  color: #2c2c2c;
}
.woocommerce-form.woocommerce-form-login.login p input {
  border: none;
  background: none;
  background-color: #ececec;
  padding: 1em;
}
.woocommerce-form.woocommerce-form-login.login .form-row:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.woocommerce-form.woocommerce-form-login.login .form-row .woocommerce-button.button.woocommerce-form-login__submit {
  order: -1;
}
.woocommerce-form.woocommerce-form-login.login .woocommerce-LostPassword.lost_password {
  align-items: flex-start;
}
.woocommerce-form.woocommerce-form-login.login .woocommerce-LostPassword.lost_password a {
  border-bottom: 1px solid #ececec;
  color: #2c2c2c;
}
.woocommerce-form.woocommerce-form-login.login .woocommerce-LostPassword.lost_password a:hover {
  border-bottom: 1px solid #dc143c;
}

.woocommerce-form-row.woocommerce-form-row--first.form-row.form-row-first input {
  border: none;
  background: none;
  background-color: #ececec;
  padding: 1em;
}

.woocommerce-ResetPassword.lost_reset_password {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.woocommerce-MyAccount-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.woocommerce-MyAccount-content p {
  color: #2c2c2c;
}
.woocommerce-MyAccount-content p a {
  border-bottom: 1px solid #ececec;
  color: #2c2c2c;
  font-weight: 700;
}
.woocommerce-MyAccount-content p a:hover {
  border-bottom: 1px solid #dc143c;
}
@media only screen and (min-width: 768px) {
  .woocommerce-MyAccount-content {
    float: none !important;
    width: 100% !important;
  }
}

.woocommerce-MyAccount-navigation {
  margin-bottom: 2em;
}
.woocommerce-MyAccount-navigation ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
@media only screen and (min-width: 768px) {
  .woocommerce-MyAccount-navigation ul {
    flex-direction: row;
  }
}
.woocommerce-MyAccount-navigation ul li a {
  color: #2c2c2c;
  font-weight: 700;
}
.woocommerce-MyAccount-navigation ul li a:hover {
  color: #dc143c;
}
@media only screen and (min-width: 768px) {
  .woocommerce-MyAccount-navigation {
    float: none !important;
    width: 100% !important;
  }
}

#primary {
  margin: 0 auto;
  padding-inline: 1em;
  padding-block: 9em;
  width: 100%;
  max-width: 1600px;
}

.main .woocommerce {
  margin: 0 auto;
  padding: 10em 1em;
  width: 100%;
  max-width: 1600px;
}

.button {
  transition: border 0.2s, background-color 0.2s, color 0.2s;
  border: none;
  border: 2px solid transparent !important;
  border-radius: 0 !important;
  background: none;
  background-color: #dc143c !important;
  padding: 0.5em !important;
  color: #fff !important;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.button:hover {
  border: 2px solid #dc143c !important;
  background-color: #fff !important;
  color: #dc143c !important;
}

.woocommerce-message,
.woocommerce-info {
  border-top: 3px solid #dc143c !important;
  background-color: #ececec !important;
  color: #2c2c2c !important;
}
.woocommerce-message a,
.woocommerce-info a {
  border-bottom: 1px solid #dc143c;
  color: #2c2c2c;
}
.woocommerce-message::before,
.woocommerce-info::before {
  color: #dc143c;
}